@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

:root {
  /* ------------------------------- Typography ------------------------------- */

  /* Fluid font size from Utopia */
  font-size: clamp(1rem, 0.9rem + 0.49vw, 1.25rem);
  /* Safari Resize fix */
  min-height: 1vw;
}

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

/* --------------------------------- Gallery -------------------------------- */

.gallery-list {
  @apply grid grid-cols-3 gap-sm;
}

.gallery-item {
  @apply relative;
}

.gallery-item .gallery-photo-title {
  @apply m-0 p-xs absolute bottom-0 left-0 z-10 bg-balsa bg-opacity-50 w-full leading-tight text-sm;
}

.gallery-item .gallery-photo-title:empty {
  display: none;
}

.gallery-photo {
  position: relative;
}

.gallery-photo::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: calc( (3 / 4) * 100% );
}

.gallery-photo > img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  object-align: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}