---
layout: blog
---

{% set postsByYear = collections.post | collectionByYear | reverse %}
{% for yearOfPosts in postsByYear %}
    <section class="my-md">
        <h2 class="text-5xl font-bold text-center bg-black border-b-4 border-black pb-sm pt-base text-balsa">{{ yearOfPosts.year }}</h2>
        {% for post in yearOfPosts.collection | reverse %}
        <article class="my-md">
            <h3 class="text-3xl font-bold text-gray-900 mb-sm">
                <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h3>
            <p class="text-base leading-6 text-gray-500 mb-sm">
                <time>
                    {{ post.date | readableDate }}
                </time>
            </p>
            {% if post.data.description %}
                <p class="text-lg text-gray-500 mb-sm">
                    {{ post.data.description }}
                </p>
            {% else %}
                <div class="prose">{% excerpt post %}</div>
            {% endif %}

            <p>
                <a href="{{ post.url | url }}" class="text-lg font-bold text-sky-blue-600">
                    Read more →
                </a>
            </p>

        </article>
        {% endfor %}
    </section>
{% endfor %}
